
.sections{
    padding:100px 20px;
 }
  .nav-bar{
 width: 50%;
  }

  #home {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
  }
  .title{
    color: white;
    margin-left: 3rem;
    display: block;
  }

  .title h1{
    font-size: 5rem;
  }

  .title h2{
    font-size: 4rem;
  }

  #aboutus {
    background-image: url('../images/about.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    opacity: 0.9;
    position: relative;
    text-align: center;
    color: white;
  }

  .contenttext {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #images{
    transition-delay: 200ms;
    position: relative;
    background-image: url('../images/slide1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
  }

.slidebtn {
 width: 100%;
  z-index: 2;
}

.slidebtn-button{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  border: none ;
}

#services {
  background-image: url('../images/services.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
  position: relative;
  text-align: center;
  color: black ;
}

.blank{
  height: 10rem;
}
@media screen and (max-width:800px) {
  .blank{
    height: 1rem;
  }
  .title{
    color: white;
    margin-left: 1.5rem;
    display: block;
  }

  .title h1{
    font-size: 2.5rem;
  }

  .title h2{
    font-size: 2rem;
  }
}


@media screen and (max-height:800px) {
  .blank{
    height: 1rem;
  }
}